.navbar{
  background: #FF4081;
}
.navbar a{
  color: white;
}
.icon-bar{
  border: 1px solid white;
}
form{
  background: #E8EAF6;
  padding: 20px;
}
.container{
  padding-top:5px;
}
.container h2 h4{
  text-align: center;
}
.container a{
  border-radius:20px;
}
