.container h1{
  padding-top: 150px;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  color:#FF4081;
}
.container h3{
  margin-top: 250px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #FF4081;
}
.navbar{
  background: #FF4081;
}
.navbar a{
  color: white;
}
body{
  background-image: url(https://images.unsplash.com/photo-1542292714-0af7af35e324?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
hr{
  width:50%;
}
#center{
  text-align: center;
}
.icon-bar{
  border: 1px solid white;
}

form{
  background: #E8EAF6;
  padding: 20px;
}
